<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sagar/IdeaProjects/abc">
        <classes>
            <class name="testingpack.Samplefile">
                <methods>
                    <include name="testlogo"/>
                </methods>
            </class>
            <class name="testingpack.group">
                <methods>
                    <include name="imagess"/>
                    <include name="buttons"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>